body
{
    font-family: 'Aldrich';
}

#LoginPage{
    margin: auto;
    margin-top: 15%;
    background-color: grey;
    text-align: center;
    color: aliceblue;
    width: 25%;
    height: 400px;
    font-size: 120%;
    align-items: center;
}
#text{
    padding-top: 5%;
}
#password,#email{
    height: 8%;
    width: 50%;
    margin-top: 5%;
}
#glogin{
    margin-top: 10px;
    margin-left: 35%;
    align-self: center;
}