body
{
    font-family: 'Aldrich';
}

#LoginPage{
    margin: auto;
    background-color: black;
    text-align: center;
    color: aliceblue;
    width: 30%;
    height: 500px;
}
#text{
    padding-top: 5%;
}